<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"/>
    {% load staticfiles %}
    {% load ifmatches %}
    <link rel="stylesheet" type="text/css" href="{% static 'manager/style.css' %}"/>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'manager:home' %}">Manager</a>
            </div>
            {% with url_name=request.path %}
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item {% ifmatches url_name "[a-z]+/projects/$" %}active{% endifmatches %}">
                                <a href="{% url 'manager:employee' request.user.id %}">
                                    <span class="glyphicon glyphicon-home"></span>
                                    Profile
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item {% ifmatches url_name "[a-z]+/groups/$" %}active{% endifmatches %}">
                            <a href="{% url 'manager:groups' %}">
                                <span class="glyphicon glyphicon-briefcase"></span>
                                Groups
                            </a>
                        </li>
                        <li class="nav-item {% ifmatches url_name "[a-z]+/employees/$" %}active{% endifmatches %}">
                            <a href="{% url 'manager:employees' %}">
                                <span class="glyphicon glyphicon-user"></span>
                                Employees
                            </a>
                        </li>
                        <li class="nav-item {% ifmatches url_name "[a-z]+/projects/$" %}active{% endifmatches %}">
                            <a href="{% url 'manager:projects' %}">
                                <span class="glyphicon glyphicon-tasks"></span>
                                Projects
                            </a>
                        </li>
                    </ul>
                    {% if request.user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a href="{% url 'manager:logout' %}">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Logout
                              </a>
                          </li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a href="{% url 'manager:register' %}">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    Register
                              </a>
                          </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a href="{% url 'manager:login' %}">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    Login
                              </a>
                          </li>
                        </ul>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        {% ifmatches url_name "[a-z]+/groups/$" %}
                            <ul class="nav navbar-nav navbar-right">
                              <li>
                                  <a href="{% url 'manager:add_group' %}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Add group
                                  </a>
                              </li>
                            </ul>
                        {% endifmatches %}
                        {% ifmatches url_name "[a-z]+/employees/$" %}
                            <ul class="nav navbar-nav navbar-right">
                              <li>
                                  <a href="{% url 'manager:add_employee' %}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Add employee
                                  </a>
                              </li>
                            </ul>
                        {% endifmatches %}
                        {% ifmatches url_name "[a-z]+/projects/$" %}
                            <ul class="nav navbar-nav navbar-right">
                              <li>
                                  <a href="{% url 'manager:add_employee' %}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Add project
                                  </a>
                              </li>
                            </ul>
                        {% endifmatches %}
                        {% ifmatches url_name "[a-z]+/groups/[0-9]+/$" %}
                            <ul class="nav navbar-nav navbar-right">
                              <li>
                                  <a href="{% url 'manager:update_group' group.id %}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Edit group
                                  </a>
                              </li>
                            </ul>
                        {% endifmatches %}
                        {% ifmatches url_name "[a-z]+/projects/[0-9]+/$" %}
                            <ul class="nav navbar-nav navbar-right">
                              <li>
                                  <a href="{% url 'manager:update_project' project.id %}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Edit project
                                  </a>
                              </li>
                            </ul>
                        {% endifmatches %}
                    {% endif %}
                    {% if request.user.is_superuser or request.user.id == employee.user.id %}
                        {% ifmatches url_name "[a-z]+/employees/[0-9]+/$" %}
                            <ul class="nav navbar-nav navbar-right">
                              <li>
                                  <a href="{% url 'manager:update_employee' employee.user.id %}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Edit employee
                                  </a>
                              </li>
                            </ul>
                        {% endifmatches %}
                    {% endif %}
                </div>
            {% endwith %}
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>
