{% extends 'manager/base.html' %}
{% load staticfiles %}
{% block title %}Employees{% endblock %}
{% block body %}
    <div class="row content">
    {% if employees %}
            {% for employee in employees %}
                <div class="col-sm-12 col-md-6 col-lg-4 text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{% url 'manager:employee' employee.id %}">
                                <h3>{{ employee.name }} {{ employee.surname }}</h3>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12 text-center">
                                {% if employee.photo %}
                                    <img src="{{ employee.photo.url }}" class="img-responsive">
                                {% else %}
                                    <img src="{% static "manager/images/group.gif" %}" class="img-responsive">
                                {% endif %}
                            </div>
                            <div class="col-sm-12 text-center buttons">
                                <div class="col-sm-6 text-center">
                                    <form action="{% url 'manager:delete_employee' employee.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="group_id" value="{{ employee.id }}"/>
                                        <button type="submit" class="btn btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        Delete
                                    </button>
                                    </form>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <form action="{% url 'manager:update_employee' employee.id %}" method="get">
                                        {% csrf_token %}
                                        <input type="hidden" name="group_id" value="{{ employee.id }}"/>
                                        <button type="submit" class="btn btn-sm">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Edit
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>No employees</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}