{% extends 'manager/base.html' %}
{% load staticfiles %}
{% block title %}Group {{ group.name }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Group {{ group.name }}</h3></div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if group.photo %}
                        <img src="{{ group.photo.url }}" class="img-responsive">
                    {% else %}
                        <img src="{% static "manager/images/group.gif" %}" class="img-responsive">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-8 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                   <h2>{{ group.description }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Employee's list</h3></div>
            </div>
        </div>
        {% if employees %}
            {% for employee in employees %}
               {% include 'manager/employee_panel.html' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>No employees</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}