{% extends 'manager/base.html' %}
{% block title %}Manager{% endblock %}
{% block body %}
    <div class="row content">
        <div class="col-sm-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Groups</h3></div>
                <div class="panel-body">
                    {{ group_count }}
                </div>
            </div>
            {% for group in groups %}
                <div class="panel panel-default">
                    <div class="panel-body">
                            <a href="{% url 'manager:group' group.id %}">
                                <h4>{{ group.name }}</h4>
                            </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Employees</h3></div>
                <div class="panel-body">
                    {{ employee_count }}
                </div>
            </div>
            {% for employee in employees %}
                {% if not employee.user.is_superuser %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                                <a href="{% url 'manager:employee' employee.user.id %}">
                                    <h4>{{ employee.name }} {{ employee.surname }}</h4>
                                </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Projects</h3></div>
                <div class="panel-body">
                    {{ project_count }}
                </div>
            </div>
            {% for project in projects %}
                <div class="panel panel-default">
                    <div class="panel-body">
                            <a href="{% url 'manager:project' project.id %}">
                                <h4>{{ project.name }}</h4>
                            </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}