{% extends 'manager/base.html' %}
{% load staticfiles %}
{% block title %}Project {{ project.name }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>{{ project.name }}</h3></div>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Description</h3>
                </div>
                <div class="panel-body">
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Budget</h3>
                </div>
                <div class="panel-body">
                    <p>{{ project.budget }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Employee's list</h3></div>
            </div>
        </div>
        {% if employees %}
            {% for employee in employees %}
               {% include 'manager/employee_panel.html' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>No employees</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}