{% load staticfiles %}
{% load ifmatches %}
<div class="col-sm-12 col-md-6 col-lg-4 text-center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'manager:project' project.id %}">
                <h3>{{ project.name }}</h3>
            </a>
        </div>
        <div class="panel-body">
            <div class="col-sm-12 text-center">
                {{ project.description }}
                {{ employee.user.id }}
            </div>
            <div class="col-sm-12 text-center buttons">
                {% if request.user.is_superuser or request.user.id == employee.user.id%}
                    <div class="col-sm-12 text-center">
                        <form action="{% url 'manager:remove_employee_project' project.id employee.user.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Remove
                        </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>