{% extends 'manager/base.html' %}
{% block title %}Project {{ project.name }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>{{ project.name }}</h3></div>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Description</h3>
                </div>
                <div class="panel-body">
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Budget</h3>
                </div>
                <div class="panel-body">
                    <p>{{ project.budget }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Employee's list</h3></div>
            </div>
        </div>
        {% if employees %}
            {% for employee in employees %}
                <div class="col-sm-12 col-md-6 col-lg-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{% url 'manager:employee' employee.id %}">
                            <h3>{{ employee.name }} {{ employee.surname }}</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <img src="{{ employee.photo.url }}" class="img-responsive">
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>No employees</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}